/* CSS Document */

body{
	margin:0px;
	padding:0px;
	background:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	color:#1E1E1E;
	font-size:12px;
}
td{ color:#000000; font-size:13px; font-weight:normal;}
img{
	border:0px;
}


a.namelink
{
	color:#000000; 
	font-size:13px; 
	font-weight:normal;
	text-decoration:none;
}

a{
	font-family:Arial, Helvetica, sans-serif;
	color:#0028BC;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
}
a:hover{
	font-family:Arial, Helvetica, sans-serif;
	color:#0028BC;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
}

#wrapper{
	width: 100%;
	margin:0px;
	padding:0px;
	
}
#header {
	width: 100%;
	height:100px;
	padding:0px;
	margin:0px;
	background:url(../images/header_bg.gif) repeat-x;
}
#header h1 {
	width: 100%;
	padding:20px 0 10px 0;
	margin:0px;
	float:left;
	font-size:25px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
#header h2 {
	width: 100%;
	padding:0px;
	margin:0px;
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
/*############# Navigation Classes Start Here #############*/
#nav{
	margin:0px auto;
	float:right;
	padding:0px;
	background:#FFFFFF;
	height:49px;
	width:500px;
}
.home{
	margin:0px;
	padding:0px;
	width:87px;
	height:41px;
	float:left;
	background:url(../images/home_bg.gif) no-repeat;
}
.week{
	margin:0px;
	padding:0px;
	width:151px;
	height:41px;
	float:left;
	background:url(../images/week_bg.gif) no-repeat;
}
.day{
	margin:0px;
	padding:0px;
	width:138px;
	height:41px;
	float:left;
	background:url(../images/day_bg.gif) no-repeat;
}
.personnel{
	margin:0px;
	padding:0px;
	width:110px;
	height:41px;
	float:left;
	background:url(../images/personnel_bg.gif) no-repeat;
}

a.homelink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:50px;
	height:30px;
}
a.homelink:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5E1E01;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:50px;
	height:30px;
}
a.weeklink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:114px;
	height:30px;
}
a.weeklink:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5E1E01;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:114px;
	height:30px;
}
a.daylink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:101px;
	height:30px;
}
a.daylink:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5E1E01;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:101px;
	height:30px;
}
a.personnellink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:73px;
	height:30px;
}
a.personnellink:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5E1E01;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	padding:11px 0 0 37px;
	display:block;
	width:73px;
	height:30px;
}
/*############# Navigation Classes Close Here #############*/

#mainsec{
	margin:0px auto;
	padding:0px;
	width:100%;
}
#homemid{
	margin:0px auto;
	padding:15px 60px;
	width:880px;
	float:left;
}
#innermid{
	margin:0px auto;
	padding:0px;
	width:100%;
	background:#FFFFFF;
	float:left;
}
#innerright{
	margin:0px auto;
	width:789px;
	background:#FFFFFF;
	float:left;
	padding:0px;
}

#innerright1{
	margin:0 0px 0 10px;
	width:99%;
	background:#FFFFFF;
	padding:0px;
}


.box{
	margin:0px;
	padding:0 0 10px 0;
	width:278px;
	border:1px solid #003968;
	background:#FFFFFF;
	float:left;
}
.box h1{
	margin:0px;
	padding:7px 0 0 24px;
	background:url(../images/box_title_bg.gif) repeat-x;
	height:24px;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:#0057A0;
}
.box h2{
	margin:0px;
	background:#FFFFFF;
	width:258px;
}
.box h2 ul{
	width: 258px;
	margin:auto 0px;
	padding:10px 10px 0 10px;
	list-style-type: none;
}

.box h2 li{
	width: 258px;
	margin:auto 0px;
	padding:0px;
	height:20px;
	border-bottom:1px solid #FFFFFF;
	background:url(../images/menu_bullet.gif) no-repeat;
	float:left;
}

.box h2 li a{
	width: 219px;
	margin:auto 0px;
	height:18px;
	padding:2px 10px 0 29px;
	line-height:normal;
	font-size:12px;
	font-weight:normal;
	color:#1E1E1E;
	text-decoration:none;
	cursor:pointer;
	float:left;
}

.box h2 li a:hover{
	width: 219px;
	margin:auto 0px;
	height:18px;
	padding:2px 10px 0 29px;
	line-height:normal;
	font-size:12px;
	font-weight:normal;
	color:#0057A0;
	text-decoration:none;
	cursor:pointer;
}

.innerbox{
	margin:0px;
	padding:0 0 5px 0;
	width:197px;
	border:1px solid #003968;
	background:#FFFFFF;
	float:left;
}
.innerbox h1{
	margin:0px;
	padding:7px 0 0 9px;
	background:url(../images/box_title_bg.gif) repeat-x;
	height:24px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#0057A0;
}
.innerbox h2{
	margin:0px;
	background:#FFFFFF;
	width:197px;
}
.innerbox h2 ul{
	width: 195px;
	margin:auto 0px;
	padding:5px 1px 0 1px;
	list-style-type: none;
}

.innerbox h2 li{
	width: 195px;
	margin:auto 0px;
	padding:0px;
	height:20px;
	border-bottom:1px solid #FFFFFF;
	background:url(../images/menu_bullet2.gif) no-repeat;
	float:left;
}

.innerbox h2 li a{
	width: 167px;
	margin:auto 0px;
	height:18px;
	padding:2px 10px 0 18px;
	line-height:normal;
	font-size:12px;
	font-weight:normal;
	color:#1E1E1E;
	text-decoration:none;
	cursor:pointer;
	float:left;
}

.innerbox h2 li a:hover{
	width: 167px;
	margin:auto 0px;
	height:18px;
	padding:2px 10px 0 18px;
	line-height:normal;
	font-size:12px;
	font-weight:normal;
	color:#0057A0;
	text-decoration:none;
	cursor:pointer;
}

.bigbox{
	margin:0px;
	padding:0 0 0px 0;
	width:787px;
	border:1px solid #003968;
	background:#FFFFFF;
}
.bigbox1{
	margin:0px;
	padding:0 0 0px 0;
	width:98%;
	border:1px solid #003968;
	background:#FFFFFF;
}

.bigbox1 h1{
	margin:0px;
	padding:7px 0 0 9px;
	background:url(../images/box_title_bg.gif) repeat-x;
	height:24px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#0057A0;
}

.bigbox1 h2{
	margin:0px;
	padding:0px;
}


.maintitle{
	margin:0px;
	padding:7px 9px 0 9px;
	background:url(../images/box_title_bg.gif) repeat-x;
	height:24px;
}
.titletext{
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#0057A0;
}
	
.bigbox h1{
	margin:0px;
	padding:7px 0 0 9px;
	background:url(../images/box_title_bg.gif) repeat-x;
	height:24px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#0057A0;
}

.bigbox h2{
	margin:0px;
	padding:0px;
}


.top{
text-align:left;
	background:#FFFFFF;
	height:27px;
	margin:0px;
	padding:25px 0 10px 18px;
}

.top a{
	background:url(../images/top.gif) no-repeat;
	font-size:12px;
	color:#0057A0;
	font-weight:normal;
	margin:0px;
	padding:8px 0 32px 40px;
	height:47px;
	text-decoration:none;
}
.top a:hover{
	background:url(../images/top.gif) no-repeat;
	font-size:12px;
	color:#0057A0;
	font-weight:normal;
	margin:0px;
	padding:8px 0 32px 40px;
	height:47px;
	text-decoration:underline;
}

.print{
	background:#FFFFFF;
	height:27px;
	width:450px;
	margin:0px;
	padding:15px 0 10px 18px;
}

.print a{
	background:url(../images/print_icon.gif) no-repeat;
	font-size:12px;
	color:#0057A0;
	font-weight:normal;
	margin:0px;
	padding:8px 0 32px 40px;
	height:47px;
	text-decoration:none;
}
.print a:hover{
	background:url(../images/print_icon.gif) no-repeat;
	font-size:12px;
	color:#0057A0;
	font-weight:normal;
	margin:0px;
	padding:8px 0 32px 40px;
	height:47px;
	text-decoration:underline;
}


#footer{
	background:#EAEAEA;
	font-size:12px;
	height:48px;
	width:962px;
	padding:14px 20px 0 18px;
	border-bottom:13px solid #FFFFFF;
}
a.footer{
	font-size:12px;
	color:#0057A0;
	text-decoration:none;
}
a.footer:hover{
	font-size:12px;
	color:#0057A0;
	text-decoration:underline;
}
#time{
	margin:0px;
	width:481px;
	padding:0px;
	float:right;
	text-align:right;
	}
#fotter1{
	margin:0px;
	width:481px;
	padding:0px;
	float:left;
	}	
#title{
	background:url(../images/title_bg.gif) repeat-x;
	height:13px;
	padding:10px;
	font-size:12px;
	font-weight:bold;
	color:#0057a0;
}
.title2{
	background:url(../images/title_bg.gif) repeat-x;
	height:13px;
	padding:10px;
	font-size:12px;
	font-weight:bold;
	color:#0057a0;
}
#titleleft{
	float:left;
	padding:0px;
	margin:0px;
	width:490px;
}
#titleright{
	float:right;
	text-align:right;
	padding:0px;
	margin:0px;
	width:490px;
}
.titleleft2{
	float:left;
	padding:0px;
	margin:0px;
	width:490px;
}
.titleright2{
	float:right;
	text-align:right;
	padding:0px;
	margin:0px;
	width:490px;
}
#middle{
	margin:0px;
	padding:0px;
	width:1000px;
}
.border{
	border:1px solid #0057A0;
}
.bluebold{
	color:#0028BC;
	font-size:12px;
	font-weight:bold;
	padding:3px 0 2px 5px;
	line-height:normal;
}
.blackbold{
	color:#1E1E1E;
	font-size:12px;
	font-weight:bold;
	padding:3px 0 2px 5px;
	line-height:normal;
}
.whitebold{
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px 2px 10px;
	line-height:23px;
	background:#0057A0;
}
.blacktext{
	color:#000000;
	font-size:12px;
	font-weight:normal;
	padding:3px 0 2px 10px;
	line-height:normal;
	background:#EAEAEA;
}
.style1 {color: #0028BC;}
.blacktext2{
	color:#000000;
	font-size:12px;
	border-bottom:1px solid #FFFFFF;
	font-weight:normal;
	padding:3px 0 2px 10px;
	line-height:normal;
	background:#EAEAEA;
}
.bgblue{
	padding:3px 5px 5px 5px;
	color:#0057a0;
	font-weight:normal;
	font-size:12px;
	background:#BFE2FF;
}

A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:underline;color:blue;}
.scrollTable
{
padding: 0px;
border-spacing: 0px ;
border: solid ;
background-color: #0057A0 ;
border: 0px ;
}
.InnerTable
{
width: 100% ;
}
.InnerTable1
{
width: 100% ;
}
.DivWidth
{
	width: 133px ;
}

.DivWidth2
{
width: 133px ;
}
td.ColHeader
{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
background-color: #EAEAEA;
color:#1E1E1E;
padding:0px 5px 0px 5px;
}
td.ColHeader a
{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
background-color: #EAEAEA;
color:#1E1E1E;
padding:0px 5px 0px 5px;
}
td.ColHeader a:hover
{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
background-color: #EAEAEA;
color:#1E1E1E;
padding:0px 5px 0px 5px;
}
td.RowColHeader
{
vertical-align:top;
text-align: left;
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
background-color: #EAEAEA;
color:#1E1E1E;
padding:3px 0 2px 5px;
}
TD.RowHeader
{
vertical-align:top;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color:#1E1E1E;
padding:3px 0 2px 5px;
}
TD.RowHeader a
{
vertical-align:top;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color:#0028BC;
}
TD.RowHeader a:hover
{
vertical-align:top;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color:#0028BC;
}
td.DataCell
{
padding:3px 5px 2px 5px;
	color:#1E1E1E;
	font-weight:normal;
	font-size:12px;
	
}
td.DataCell a
{
	color:#0028BC;
	font-weight:normal;
	font-size:12px;
}

td.DataCell a:hover
{
	color:#0028BC;
	font-weight:normal;
	font-size:12px;
}

td.ColFooter
{
vertical-align:top;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
TD.RowColFooter
{
vertical-align:top;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
background-color: #E0E8F8;
}
.BtnText
{
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
H4
{
margin: 2px;
font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
font-weight: bold;
color: #ebf0f9;
}
img
{
font-family: Arial, Helvetica, sans-serif;
border: 0;
}
H2
{
margin: 0px;
font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
font-size: 20px;
color: #ffffff;
}
TD.PageEnd
{
margin:15px;
border-top:#517dbf 1pt solid;
padding-top:15px;
padding-bottom:15px;
padding-right:10px;
padding-left:10px;
vertical-align:top;
background-color:#EAEAEA;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight: normal;
}
P
{
margin-bottom: 10px;
margin-top: 0px;
padding-left: 0px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 12px;
color: #ffffff;
}
.boxws{
	margin:0px 5px 0 0;
	padding:0 0 10px 0;
	width:198px;
	border:1px solid #0057A0;
	background:#FFFFFF;
	float:left;
}
.boxws h1{
	margin:0px;
	padding:7px 0 0 24px;
	background:url(../images/box_title_bg.gif) repeat-x;
	height:24px;
	width:174px;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:#0057A0;
}
.boxws h2{
	margin:0px;
	background:#FFFFFF;
	width:178px;
}
.boxws h2 ul{
	width: 178px;
	margin:auto 0px;
	padding:10px 10px 0 10px;
	list-style-type: none;
}

.boxws h2 li{
	width: 178px;
	margin:auto 0px;
	padding:0px;
	height:20px;
	border-bottom:1px solid #FFFFFF;
	background:url(../images/menu_bullet.gif) no-repeat;
	float:left;
}

.boxws h2 li a{
	width: 143px;
	margin:auto 0px;
	height:18px;
	padding:2px 10px 0 29px;
	line-height:normal;
	font-size:12px;
	font-weight:normal;
	color:#1E1E1E;
	text-decoration:none;
	cursor:pointer;
	float:left;
}

.boxws h2 li a:hover{
	width: 143px;
	margin:auto 0px;
	height:18px;
	padding:2px 10px 0 29px;
	line-height:normal;
	font-size:12px;
	font-weight:normal;
	color:#0057A0;
	text-decoration:none;
	cursor:pointer;
}
#titlews{
	background:url(../images/title_bg.gif) repeat-x;
	height:13px;
	border-left:#0057A0 solid 1px;
	border-right:#0057A0 solid 1px;
	padding:9px;
	font-size:12px;
	font-weight:bold;
	color:#0057a0;

}

#titleleftws{
	float:left;
	padding:0px;
	margin:0px;

}
#titlerightws{
	float:right;
	text-align:right;
	padding:0px;
	margin:0px;

}